header{
    background-image:linear-gradient(rgba(#000, 0.2), rgba(#000, 0.7)), url(../img/Slider1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#logo, #header_btn {
    font-family: "Glass Antiqua", cursive;
    font-size: 60px;
}

#navbarTogglerDemo03{
    ul{
        li{
            a{
                @include m{
                    font-size:19px;
                }
                @include l{
                    font-size: 25px;
                }
                font-family: "Glass Antiqua", cursive;
            }
        }
    }
}

.navbar-nav .nav-link.active{
    border: 1px solid #000;
    border-radius: 7px;
}

#tMain{
    padding-top: 100px;
    padding-bottom: 200px;
}

#gText{
    font-family: "Glass Antiqua", cursive;
    padding-bottom: 50px;
    @include xs{
        font-size: 27px;
    }
    @include s{
        font-size: 35px;
    }
    @include m{
        font-size: 43px;
    }
    @include l{
        font-size: 60px;
    }
}

#rezime{
    font-family: "Glass Antiqua", cursive;
    padding-bottom: 50px;
    @include xs{
        font-size: 19px;
    }
    @include s{
        font-size: 25px;
    }
    @include m{
        font-size: 28px;
    }
    @include l{
        font-size: 32px;
    }
}